body {
font-family: Inter !important;
}

.main {
    margin: 3%;
}

nav a {
    color: black;
}

.season {
    background-color: #ACE2E1;
    color: black;
}

.season-content{
    margin: 0 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    
    color: black;
}

.season-content a {
    color: black;
}

.season-photo {
    width: 50%;
}


.announcement {
    text-align: center;  
    margin: 2%;
}


.involved {
    background-color: #008DDA;
}

.involved-content{
    margin: 0 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    
    color: white;
}

.buttons {
    margin: 3% 0%;
}

h1 a {
    color: white; 
}

h1 a:hover {
    color: white;
}



.fa-brands, .fa-solid {
    color: black;
    font-size: 2.5em;
    margin: 10px;;
}

.fa-brands:hover, .fa-solid:hover {
    color: #0C356A;
    cursor: pointer;
}

.btn {
    background-color: #FFFFFF !important;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.sponsors {
    background-color: #ACE2E1;

 }

 .sponsors-content {
    margin: 0 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    
    color: black;
 }


.carousel {
    width: 60%;
}
 .sponsor-title {
    margin-top: 2%
 }

 .frc {
    background-color: #41C9E2;
 }

 .frc-content {
    padding-top: 5%;
    padding-bottom: 5%;
    margin: 0 5%;
    color: black;
 }

.frc-content a {
    color: black;
}

.content {
    width: 70%;
}

@media screen and (max-width: 800px) {
    .main {
        margin: 1%;
    }
    .carousel {
       width: 100%;
    }

    .announcement {
        font-size: 80%;
    }

    .announcement p {
        width: 70%;
        margin: auto;
    }

    .main {
        text-align: center;
        width: 70%;
        margin: auto;
        
    }
    .sponsor-photo {
        width: 80%;
     }


 }

 @media screen and (min-width: 1000px) {
    .main {
        margin: 2%;
    }
    
    .season-content {
        margin: 0 2%;
        padding-top: 2%;
        padding-bottom: 2%;
        
        color: black;
    }

    .sponsors-content {
        margin: 0 2%;
        padding-top: 2%;
        padding-bottom: 2%;
        
        color: black;    

    }

    .involved-content {
        margin: 0 2%;
        padding-top: 2%;
        padding-bottom: 2%;
        
        color: white;    
    }
    
    .frc-content {
        margin: 0 2%;
        padding-top: 2%;
        padding-bottom: 2%;
        color: black;
    }


    .buttons {
        margin: 1% 0%;
    }    

    .season-text {
        width: 50%;
    }

 }

.frc {
    background-color: #41C9E2;
}

.frc-content a {
    color: black;
}

.involved-content a {
    color: white;

}

.involved-content a:hover {
    color: white;

}

.involved-content .btn {
    color: black;

}

.involved-content a:hover {
    color: black;

}

.btn { 
    color: black !important;
}
