body {
font-family: Inter !important;
}

.main {
    margin: 3%;
}

.season {
    background-color: #0174BE;
}

.season-content{
    margin: 0 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    
    color: white;
}

.announcement {
    text-align: center;  
    margin: 2%;
}

.carousel {
 width: 60%;
}

.involved {
    background-color: #0C356A;
}

.involved-content{
    margin: 0 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    
    color: white;
}

.buttons {
    margin: 3% 0%;
}



.fa-brands, .fa-solid {
    color: black;
    font-size: 2.5em;
    margin: 10px;;
}

.fa-brands:hover, .fa-solid:hover {
    color: #0C356A;
    cursor: pointer;
}

.btn {
    background-color: #FFFFFF !important;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

@media screen and (max-width: 800px) {
    .main {
        margin: 1%;
    }
    .carousel {
       width: 100%;
    }

    .announcement {
        font-size: 80%;
    }

    .announcement p {
        width: 70%;
        margin: auto;
    }

    .main {
        text-align: center;
        width: 70%;
        margin: auto;
        
    }
 }

 @media screen and (min-width: 1000px) {
    .main {
        margin: 2%;
    }
    
    .season-content {
        margin: 0 2%;
        padding-top: 2%;
        padding-bottom: 2%;
        
        color: white;    
    }

    .involved-content {
        margin: 0 2%;
        padding-top: 2%;
        padding-bottom: 2%;
        
        color: white;    
    }

    .buttons {
        margin: 1% 0%;
    }    

 }